Repository answprkdltek/simple-blackjack, pull requests merged in 2018-04, with the labels that each got.

#46 cardtest 작성했습니다.
  src/main/java/com/cnu/blackjack/NoSuitExecption.java
  src/test/java/com/cnu/blackjack/CardTest.java
Labels: Card

#49 PlayerTest 작성했습니다.
  src/test/java/com/cnu/blackjack/PlayerTest.java
Labels: Player

#50 EvaluatorTest
  src/test/java/com/cnu/blackjack/EvaluatorTest.java
Labels: Evaluator
